*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(236, 235, 235);
    width: 100%;
    padding: 0;
}

header{
    border-bottom: solid black 2px;
    background-color: aqua;
}

.container{
    margin-top: 10px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
form{
    text-align: center;
    margin-bottom: 30px;
}
form > input, button{
    padding: 10px;
    border-radius: 10px;
}
button{
    font-weight: bold;
}
button:hover{
    background-color: black;
    color: rgb(236, 235, 235);;
}
.listContainer{
    margin: 0 auto;
}
ul{
    text-align: left;
    margin-left: 35%;
    
}

li{
    list-style-type: decimal;
    display: flex;
}

.cmds{
    text-align: center;
    margin-top: 5px;

}

#doneall{
    background-color: green;
    color: white;
    cursor: pointer;
}

#resetall{
    background-color: red;
    color: white;
    cursor: pointer;
}

#doneall:hover{
    background-color: white;
    color: green;
    cursor: pointer;
}

#resetall:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}
